# Exercise 1: Basic Dataset Manipulation and Problem Definition

---
**Written by Hendi Lie (h2.lie@qut.edu.au) and Richi Nayak (r.nayak@qut.edu.au). All rights reserved.**

Welcome to the first practical exercise for IFN645. Each exercise sheet contains a number of theoretical and programming exercises, designed to strengthen both conceptual and practical understanding of data mining processes in this unit.

To answer conceptual questions, write the answer to each question on a paper/note with your reasoning. For programming exercises, open your iPython console/Jupyter notebook and use Python commands/libraries introduced in each practical to answer the questions. In many cases, you will need to write code to support your conceptual answers.

## 1. Importing libraries and reading dataset

Answer the following questions:
1. Please name two libraries commonly used for data visualisation in Python.
2. What library do we use for predictive modelling in this unit?
3. Please name the steps commonly used in performing predictive mining using Python.

Perform the following operations:
1. Import pandas library as "pd".
2. Load the dataset into dataframe variable "df". For all predictive modeling exercises, we will use adult dataset ("datasets/adult.csv").

Tips: use `index_col=0` parameter when reading the dataset to avoid creating an unnecessary index column. If you are not sure what this parameter does, read the dataset just as normally and then compare it with using `index_col`.

In [1]:
import pandas as pd
df = pd.read_csv('datasets/adult.csv', index_col=0)

## 2. Data wrangling

Perform the following operations:
1. Print basic information from the dataset.

Answer the following questions:
1. How many columns are in the dataframe/dataset?
2. How many rows/records are in the dataframe/dataset?
3. What is the data type of "workclass" column?
4. We would like to predict whether a person makes over 50K a year. Which column is suitable as a target variable?
5. How could stakeholders use insights gained from this data mining process?

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48842 entries, 1 to 48842
Data columns (total 15 columns):
age               48842 non-null int64
workclass         48837 non-null object
fnlwgt            48692 non-null float64
education         48837 non-null object
education-num     48837 non-null float64
marital-status    48837 non-null object
occupation        48823 non-null object
relationship      48837 non-null object
race              48753 non-null object
sex               48837 non-null object
capital-gain      48837 non-null float64
capital-loss      48837 non-null float64
hours-per-week    48837 non-null float64
native-country    48837 non-null object
Salary            48842 non-null object
dtypes: float64(5), int64(1), object(9)
memory usage: 6.0+ MB
None

In [3]:
df.age.value_counts(dropna=False, normalize=True)

 36    0.027599
 35    0.027374
 33    0.027333
 23    0.027210
 31    0.027128
 34    0.026657
 28    0.026207
 37    0.026207
 30    0.026166
 38    0.025879
 32    0.025654
 41    0.025286
 27    0.025183
 29    0.025040
 39    0.024692
 24    0.024692
 25    0.024467
 40    0.024303
 22    0.024119
 42    0.023852
 26    0.023607
 20    0.022788
 43    0.022603
 46    0.022460
 21    0.022440
 45    0.022440
 47    0.022133
 44    0.021846
 19    0.021559
 51    0.017956
         ...
 62    0.008067
 64    0.006961
 63    0.006859
 65    0.005815
 67    0.004873
 66    0.004852
 68    0.003644
 69    0.003051
 70    0.002723
 72    0.002457
 71    0.002416
 73    0.002211
 74    0.001577
 75    0.001474
 76    0.001413
 90    0.001126
 77    0.001106
 80    0.000778
 81    0.000758
 78    0.000696
 79    0.000614
 82    0.000307
 84    0.000266
 83    0.000225
 88    0.000123
 85    0.000102
-1     0.000102
 87    0.000061
 89    0.000041
 86    0.000020
Name: age, Length: 75, dtype: float64

In [4]:
pd.concat([df.workclass, df.Salary], axis=1)

               workclass  Salary
ID
1                Private   <=50K
2                Private   <=50K
3              Local-gov    >50K
4                Private    >50K
5                      ?   <=50K
6                Private   <=50K
7                      ?   <=50K
8       Self-emp-not-inc    >50K
9                Private   <=50K
10               Private   <=50K
11               Private    >50K
12           Federal-gov   <=50K
13               Private   <=50K
14                     ?   <=50K
15               Private    >50K
16               Private    >50K
17             State-gov   <=50K
18               Private   <=50K
19               Private   <=50K
20               Private    >50K
21               Private    >50K
22               Private   <=50K
23                     ?   <=50K
24               Private   <=50K
25               Private   <=50K
26      Self-emp-not-inc    >50K
27               Private   <=50K
28               Private   <=50K
29               Private   <=50K
30      Self-emp-not-inc   <=50K
...                  ...     ...
48813                  ?   <=50K
48814            Private    >50K
48815            Private    >50K
48816            Private   <=50K
48817            Private   <=50K
48818            Private    >50K
48819            Private   <=50K
48820            Private    >50K
48821                  ?    >50K
48822          State-gov   <=50K
48823                  ?   <=50K
48824                  ?   <=50K
48825          Local-gov   <=50K
48826            Private   <=50K
48827          Local-gov    >50K
48828            Private   <=50K
48829            Private   <=50K
48830   Self-emp-not-inc   <=50K
48831          State-gov   <=50K
48832   Self-emp-not-inc   <=50K
48833            Private   <=50K
48834            Private   <=50K
48835            Private   <=50K
48836            Private    >50K
48837            Private   <=50K
48838            Private   <=50K
48839            Private    >50K
48840            Private   <=50K
48841            Private   <=50K
48842       Self-emp-inc    >50K

[48842 rows x 2 columns]

# Answer

When you are finished with all exercise questions, the sample answers are available in the following Github repository. Remember, please try the exercises first before viewing the answers.

https://github.com/IFN645/2019/IFN645_answers